body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.aqua{
    color: aqua;
}
.flexibel-containe {
    display: flex;
    margin-bottom: 200px;  
}
.harf-with{
    width: 50%;
    padding-left: 2%;
  
}
.harf-with img{
    width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 60px 40x;
    color: lightgray;
    font-weight: 900;
    border-radius: 2px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-p{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expreience-area {
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat ;
}
.expreience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 10px;
}
h2{
    font-size: 40px;
}